<!-- {% if all_notes %}
    <ul>
    {% for note in all_notes %}
        <li><a href="/notes/{{ note.id }}/">{{ note.note_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No Notes are available.</p>
{% endif %} -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>hellow</h1>
    <div>
        {% if all_notes %}
            <ul>
                {% for note in all_notes %}
                    <li><a href="{% url 'detail' note.id %}">{{ note.note_text }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No Notes are available.</p>
        {% endif %} 
    </div>
   
</body>
</html>